<a href="https://colab.research.google.com/github/YongjaeKwon0629/06_24_Test/blob/main/06_23_colab_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
print("Hello, World!")

Hello, World!

In [24]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [25]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [26]:
x = str(3)
y = int(3)
z = float(3)

In [27]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [28]:
x = "John"
# is the same as
x = 'John'

In [29]:
a = 4
A = "Sally"

In [30]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [31]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [32]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [33]:
x = "Python is awesome"
print(x)

Python is awesome

In [34]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [35]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [36]:
x = 5
y = 10
print(x + y)

15

In [37]:
x = 5
y = "John"
print(x, y)

5 John

In [38]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [39]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [40]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [41]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [42]:
x = 5
print(type(x))

<class 'int'>

In [43]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [44]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [45]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [46]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [47]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [48]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [49]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [50]:
import random

print(random.randrange(1, 10))

8

In [51]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [52]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [53]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [54]:
print("Hello")
print('Hello')

Hello
Hello

In [55]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [56]:
a = "Hello"
print(a)

Hello

In [57]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [58]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [59]:
a = "Hello, World!"
print(a[1])

e

In [60]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [61]:
a = "Hello, World!"
print(len(a))

13

In [62]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [63]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [64]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [65]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [66]:
b = "Hello, World!"
print(b[2:5])

llo

In [67]:
b = "Hello, World!"
print(b[:5])

Hello

In [68]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [69]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [70]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [71]:
a ="Hello, World!"
print(a.lower())

hello, world!

In [72]:
a = "Hello, World!"
print(a.strip())

Hello, World!

In [73]:
a="Hello, World!"
print(a.replace("H","J"))

Jello, World!

In [74]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [75]:
a="Hello"
b="World"
c=a+""+b
print(c)

HelloWorld

In [76]:
age=36
txt=f"my name is John, I an {age}"
print(txt)

my name is John, I an 36

In [77]:
price=59
txt=f"The price is{price:.2f}dollars"
print(txt)

The price is59.00dollars

In [78]:
txt = "We are the so-called \"Vikings\" from the north."

In [79]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [80]:
'if 문에서 조건을 실행하면 Python은 True or를 반환합니다'
a=200
b=33
if b>a:
  print("b is greater than a")
else:
  print("b is not greater tha a")

b is not greater tha a

In [81]:
' bool()기능을 사용하면 모든 값을 평가하고 True 그에 False 대한 대가를 받을 수 있습니다.'
print(bool("hello"))
print(bool(15))

True
True

In [82]:
'두 가지 변수를 평가합니다.'
x="Hello"
y=15
print(bool(x))
print(bool(y))

True
True

In [83]:
'다음은 True를 반환합니다.'
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [84]:


'다음은 False를 반환합니다.'
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [85]:
class myclass():
  def __len__(self):
    return 0
myobj =myclass()
print(bool(myobj))

False

In [86]:
'부울 값을 반환하는 함수를 만들 수 있습니다.'
def myFunction():
  return True

print(myFunction())

True

In [87]:
'함수가 True를 반환하면 "YES!"를 출력하고, 그렇지 않으면 "NO!"를 출력합니다.'
def myFunction():
  return True
if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [88]:
'Python에는 또한 객체가 특정 데이터 유형인지 확인하는 데 사용할 수 있는 함수와 같이 부울 값을 반환하는 많은 내장함수가 있습니다.'
x=200
print(isinstance(x, int))

True

In [89]:
print(10+5)

15

In [90]:
#파이썬 산술 연산자
#산술 연산자는 숫자 값과 함께 사용되어 일반적인 수학 연산을 수행합니다.#

#Operator	  Name	      Example #
 # +	       Addition	      x + y #
# -	       Subtraction     	x - y #
#*	      Multiplication   	x * y	#
#/	          Division	    x / y	#
#%	           Modulus	    x % y	#
#**	     Exponentiation 	x ** y	#
#//	        Floor division	x // y#

In [91]:
print((6 + 3) - (6 + 3))
'괄호는 가장 높은 우선순위를 가지므로 괄호 안의 표현식이 먼저 평가되어야합니다.'

0

'괄호는 가장 높은 우선순위를 가지므로 괄호 안의 표현식이 먼저 평가되어야합니다.'

In [92]:
'곱셈은 덧셈보다 우선순위가 높으므로 곱셈은 덧셈보다 먼저 평가됩니다.'
print(100+5*3)

115

In [93]:
'덧셈과 뺄셈은 같은 우선순위를 가지므로 표현식은 왼쪽에서 오른쪽으로 평가됩니다.'
print(5+4-7+3)

5

In [94]:
mylist = ["apple", "banana", "cherry"]

In [95]:
#목록 만들기#
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [96]:
#중복허용
#예:목록에는 중복 값이 허용됩니다.
thislist=["apple", "banana", "cherry", "apple", "banana"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'banana']

In [97]:
#목록 길이: 목록에 항목이 몇 개 있는지 확인하려면 다음 #len()함수를 사용하세요
thislist=["apple", "banana", "cherry"]
print(len(thislist))

3

In [98]:
#목록항목 - 데이터 유형
#예: 문자열, 정수 및 부울 데이터 유형
list1 = ["apple", "banana", "cherry"]
lsit2 = [1,5, 7, 9, 3]
lsit3=[True, False, False]

In [99]:
#유형() Python의 관점에서 볼 때 리스트는 'list'라는 데이터 유형을 가진 객체로 정의됩니다
#예: 목록의 데이터 유형은 무엇입니까?
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [100]:
#list 생성자: 새로운 목록을 생성할 떄 'list()' 생성자를 사용하는 것도 가능합니다.
#예: 생성자를 사용하여 list()목록을 만듭니다.
thislist=list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [101]:
#파이썬 컬렉션(배열)
#Python 프로그래밍 언어에는 4가지 컬렉션 데이터 유형이 있습니다.

#목록은 정렬되고 변경 가능한 컬렉션입니다. 중복된 멤버를 허용합니다.
#튜플은 순서가 있고 변경할 수 없는 컬렉션입니다. 중복된 멤버를 허용합니다.
#집합은 순서가 없고, 변경 불가능하며, 인덱싱되지 않은 컬렉션입니다. 중복된 멤버가 없습니다.
#사전은 정렬되고** 변경 가능한 컬렉션입니다. 중복된 멤버는 없습니다.

In [102]:
#액세스 항목: 목록 항목에는 인덱싱이 되어 있으며, 인덱스 번호를 참조하여 액세스할 수 있습니다.
thislist =["apple", "banana", "cherry"]
print(thislist[1])
#참고: 첫번째 항목의 인덱스는 0입니다.

banana

In [103]:
#음수 인덱싱:음수 인덱싱은 끝에서부터 시작한다는 의미입니다
#참고: -1은 마지막 항목 -2는 뒤에서 두번째
thislist =["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [104]:
#인덱스 범위: 범위의 시작점과 끝점을 지정하여 인덱스 범위를 지정할 수 있습니다.
#범위를 지정하면 반환 값은 지정된 항목이 포함한 새 목록이 됩니다.
thislist=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [105]:
#시작 값을 생략하면 범위는 첫 번쨰 항목에서 시작됩니다
thislist=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [106]:
#끝 값을 생략하면 범위가 목록의 끝까지 계속됩니다.
thislist=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [107]:
#음수 지수범위: 목록 끝에서 검색을 시작하려면 음수 인덱스를 지정하세요
thislist=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [108]:
#항목이 있는지 확인: 지정된 항목이 목록에 있는지 확인하려면 다음'in' 키워드를 사용하세요
thislist=["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [109]:
# 나이와 점수 설정
age = 19
score = 70

# 조건문으로 판단
if age >= 18:
    # 성인이면 점수를 확인
    if score >= 80:
        print("합격")
    else:
        print("불합격")
else:
    # 나이가 18세 미만이면 미성년자
    print("미성년자")

불합격

In [110]:
heights = [160, 170, 180, 175, 165]

total = 0
for height in heights:
    total += height


average = total / len(heights)

print("총합:", total)
print("평균 키:", average)

총합: 850
평균 키: 170.0

list와 if문을 사용하여 만들 수 있는 키 평균 구하고 조건에 따라 인원 수 구분하는 코드

In [111]:
#키 리스트
heights = [160, 170, 180, 175, 165]

#키 총합 변수 선언
total = 0

# 조건별 카운팅 변수 선언
count_under_or_equal_170 = 0
count_over_170 = 0

#반복문을 이용하여 총합 및 조건에 맞는 인원 계산
for height in heights:
    total += height
    if height <= 170:
        count_under_or_equal_170 += 1
    else:
        count_over_170 += 1

#평균 계산
average = total / len(heights)

#출력
print("총합:", total)
print("평균 키:", average)
print("170cm 이하인 사람 수:", count_under_or_equal_170)
print("170cm 초과인 사람 수:", count_over_170)

# 다른 코드

h1=160

h2=165

h3=170

h4=175

h5=180

avg=(h1+ h2+ h3 + h4 + h5) / 5

print(avg)

총합: 850
평균 키: 170.0
170cm 이하인 사람 수: 3
170cm 초과인 사람 수: 2
170.0

if문을 사용하여 자율주행 기술에 적용할 수 있는 코드1

In [112]:
# 센서로부터 입력 받은 장애물까지의 거리 (단위: 미터)
distance = 5  # 예: 5미터 앞에 장애물 있음

# 속도 제어 조건 (if문만 사용)
if distance < 3:
    print("🔴 장애물이 가까움: 즉시 정지!")
elif distance < 7:
    print("🟡 장애물 감지됨: 속도 줄이기")
else:
    print("🟢 도로 안전: 정상 속도로 주행")

🟡 장애물 감지됨: 속도 줄이기

if문을 사용하여 자율주행 기술에 적용할 수 있는 코드2

In [113]:
# 감지된 신호등 색상 (예: "red", "yellow", "green")
traffic_light = "red"

# 신호등에 따른 차량 행동 결정
if traffic_light == "red":
    print("🔴 빨간불: 정지하세요.")
elif traffic_light == "yellow":
    print("🟡 노란불: 감속 및 정지 준비.")
elif traffic_light == "green":
    print("🟢 초록불: 주행하세요.")
else:
    print("⚠️ 신호등 인식 실패: 안전 정지 또는 수동 제어 필요.")

🔴 빨간불: 정지하세요.

if문을 사용하여 자율주행 기술에 적용할 수 있는 코드3

In [114]:
# 차량의 진행 방향 (left, right, straight 중 하나)
direction = "left"

# 교차로에 신호등이 있는가?
has_traffic_light = True

# 교차로에 다른 차량이 있는가?
other_vehicle_present = True

# 교차로 판단 로직
if has_traffic_light:
    if direction == "left":
        if other_vehicle_present:
            print("🔺 좌회전: 상대 차량 지나갈 때까지 대기하세요.")
        else:
            print("⬅️ 좌회전: 좌회전하세요.")
    elif direction == "right":
        print("➡️ 우회전: 신호 확인 후 진행하세요.")
    elif direction == "straight":
        if other_vehicle_present:
            print("⬆️ 직진: 전방 차량 대기 중, 멈추세요.")
        else:
            print("⬆️ 직진: 진행하세요.")
    else:
        print("⚠️ 알 수 없는 방향입니다.")
else:
    print("⚠️ 신호등 없음: 비신호 교차로. 1. 정지선 정지 2. 좌우 확인 후 진행.")

🔺 좌회전: 상대 차량 지나갈 때까지 대기하세요.

if문을 사용하여 자율주행 기술에 적용할 수 있는 코드4

In [115]:
# 현재 차량 속도 (km/h)
current_speed = 85

# 해당 도로의 제한 속도 (km/h)
limit_speed = 80

# 제한속도 판단 로직
if current_speed > limit_speed + 10:
    print("🚨 제한속도보다 10km/h 초과: 즉시 감속하세요! (과속 위험)")
elif current_speed > limit_speed:
    print("⚠️ 제한속도 초과: 속도 줄이세요.")
elif current_speed == limit_speed:
    print("✅ 제한속도에 맞춰 주행 중입니다.")
else:
    print("🟢 제한속도 이하: 안전 주행 중입니다.")

⚠️ 제한속도 초과: 속도 줄이세요.

if문을 사용하여 자율주행 기술에 적용할 수 있는 코드5

In [116]:
# 차량이 차선 중앙에서 얼마나 벗어났는지를 나타내는 값 (단위: 미터)
# 음수 = 왼쪽으로 치우침, 양수 = 오른쪽으로 치우침
lane_offset = -0.8  # 예: 왼쪽으로 0.8m 벗어남

# 차선 이탈 허용 범위 (보통 ±0.5m 정도)
safe_offset = 0.5

# 차선 이탈 판단
if lane_offset < -safe_offset:
    print("⬅️ 왼쪽 차선 이탈 감지: 오른쪽으로 조향하세요.")
elif lane_offset > safe_offset:
    print("➡️ 오른쪽 차선 이탈 감지: 왼쪽으로 조향하세요.")
else:
    print("✅ 차선 유지 중: 안전 주행")

⬅️ 왼쪽 차선 이탈 감지: 오른쪽으로 조향하세요.